body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    text-align: center;
    margin: 0;
    padding: 0;
}

.box {
    background-color: white;
    padding: 30px;
    margin: 100px auto;
    width: 60%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h1 {
    color: #333;
}

p {
    color: #555;
}

.btn {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
}

/* Hover Effect (wajib) */
.btn:hover {
    background-color: #0056b3;
    transform: scale(1.1) rotate(5deg);
    transition: 0.3s;
}

table {
    margin: 0 auto;
    border-collapse: collapse;
    background-color: white;
}

th, td {
    padding: 10px;
}

img {
    border-radius: 5px;
}

video{
    border-radius: 5px;
}
